/*--The top panel through out the website ---*/

.panel{

  align-content: center;
  align-items: center;
  background-color: #dee1e6;
  border-bottom: 1px;
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: -8px;
  
  flex-direction: column-reverse;
  flex-wrap: wrap;
}
.head-background{
   
  background-image: url("../images/bg-intro.jpg");
  background-size: 100%;
  border-bottom: 5px solid #abafb6 ;
  height: 200px;
  width: auto;
  margin-top: -100px;
  margin-bottom: 30px;
}
.logo{
border: 3px solid cadetblue;
font-size: 20px;
width: 400px;
height: 100px;
background-color: whitesmoke;
margin-left: 10px;

}

.logo span{
color: orange;
}

/*----navigation bar through-out all the pages---*/
.menu-style{
background-color: none;
}

.nav-background{
display: flex;
align-items: center ;
justify-content: space-between;
flex-wrap: wrap; 
position: -webkit-sticky;
position: sticky;
top: 0;
padding: 5px 0;
width: 100%;
height: 100px;
margin-top:none;
background-color:rgba(75, 72, 72, 0.37);
border-radius: 20px;


}
nav{
display: flex;
align-items: center ;
justify-content: space-between;
flex-wrap: wrap; 
width: 100%;
height: 100px;
margin-top:none;

border-radius: 20px;

}
nav ul li {
margin-left: 10px;
margin-right: 10px;

display: inline-block;
list-style:none;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 100;
font-style: normal;
padding: 14px 16px;



font-size: 17px;
}

nav ul li a{
color:black;
text-decoration: none;
width: 80px;
background-color: white;


list-style:none;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 100;
font-style: normal;
padding: 14px 16px;




}
nav ul li:hover a {
  color:white;
text-decoration: none;
width: 80px;
background-color:orangered;


list-style:none;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 100;
font-style: normal;
padding: 14px 16px;

}





/*---when the user is in the current page---*/
.active-button {
color:white;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 100;
font-style: normal;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
background-color:orange;
width: 80px;


}



/*---contact page---*/
.contact{
  display: flex;
  flex-direction: right;
    
   height: auto;
 
    width: 100%;
    margin-top: 50PX;
    margin-bottom: 50PX;

}
.email{
  display: block;
  height: 400px;
  width:100%;
  border-top:5px solid rgb(37, 29, 68);
  border-bottom:5px solid rgb(37, 29, 68);
}
.contact-info{
    border:none;
 height: auto;
}
.newsletter{
  font-style: italic;


}
form{
  display: block;
}

.name{
  font-size: 30px;
  color:green;
  width:400px;
  height: 60px;
}

.email-id{
  font-size: 30px;
  color:green;
  width:400px;
  height: 60px;


}
.gap{
  margin:20px 100px;
}
.submit{
  width:100px;
  height: 40px;
  margin-left: 300px;
}
.chat-box{
  border:2px solid rgb(93, 93, 168);
  height: 500px;
  width:350px;
  margin-top: 20px;

}
.textarea{
  text-align: center;
  font-size: 20px;
height:50px;
width:300px;
padding-top: 10px;
margin-left:20px;
margin-right:10px;

}
.btn{
font-size: 20px;
color:white;
border:1px solid orangered;
background-color: orange;
display:inline-block;
margin-top: 5px;
padding: 16px 20px;
height: 50px;
width:200px;
align-items: center;

}

.chat-input{
text-align: center;
border:2px solid blueviolet;
border-radius:50px;
}





/*---Social Media contact---*/

.grid-container{
  display: flex;
  flex-direction: right;
  height: 200px;
  border-top: 5px solid rgb(37, 29, 68);
  border-bottom: 5px solid rgb(37, 29, 68);
  background-color: rgba(204, 203, 209, 0.815);
  margin-top: 50px;
  margin-bottom: 50px;

}

.social-media-logo{
  height: 100px;
  width: 100px;
  margin:20px 40px;
}
.social-media-logo:hover {
  height: 100px;
  width: 100px;
  margin:20px 40px;
  opacity:0.8;
}



/*----end---*/
.end-container{
  border-top:5px solid rgb(37, 37, 73);
  border-bottom:5px solid rgb(37, 37, 73);

  background-color:black;
  background-size: 1350px 700px;
  margin-top: 40px;
  width:100%;
  height: 100px;
  color:white;
}
.end-container h2 {
  text-align: center;


}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .name{
    font-size: 30px;
    color:green;
    width:300px;
    height: 60px;
  }
  
  .email-id{
    font-size: 30px;
    color:green;
    width:300px;
    height: 60px;
  
  
  }
  .gap{
    margin:20px 20px;
    transition: 0.5s;
  }
  .submit{
    width:100px;
    height: 40px;
    margin-left: 200px;
  }
  .contact{
    display: block;
 
      
     height: auto;
   
      width: 100%;
      margin-top: 50PX;
      margin-bottom: 50PX;
  
  }
  .grid-container{
    display: flex;
    flex-direction: right;
    height: 100px;
    border-top: 5px solid rgb(37, 29, 68);
    border-bottom: 5px solid rgb(37, 29, 68);
    background-color: rgba(204, 203, 209, 0.815);
    margin-top: 50px;
    margin-bottom: 50px;
    transition:1s;
  
  }
  .social-media-logo{
    height: 100px;
    width: 100px;
    margin:0 30px;
    transition:1s;
  }
  
}

  

@media screen and (max-width: 1350px) {
  .logo{
    border: 3px solid white;
    font-size: 25px;
    width: 200px;
    background-color: cadetblue;
    transition: 1s;
    margin: none;
  }

nav{
  display: flex;
  align-items: center ;
  justify-content: space-evenly;
  flex-wrap: wrap; 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px 0;
  width: 100%;
  height: 150px;
  margin-top:none;

  border-radius: 20px;
  transition:3s;
  }

  nav ul li {

    
    display: inline-block;
    list-style:none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 7px 8px;
    font-size: 15px;
    transition: 2s;
}
nav ul li a{
  color:black;
  text-decoration: none;
  width: 40px;
  background-color: white;
  
  
  list-style:none;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 7px 8px;
  transition: 2s;
}
}


  @media screen and (max-width: 900px) {
  

nav{
  display: flex;
  align-items: center ;
  justify-content: space-between;
  flex-wrap: wrap; 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px 0;
  width: 100%;
  height: 100px;
  margin-top:none;

  border-radius: 20px;
  transition:3s;
  }

  nav ul li {

    
    display: inline-block;
    list-style:none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 7px 8px;
    font-size: 15px;
    transition: 0.15ms;
}
nav ul li a{
  color:black;
  text-decoration: none;
  width: 40px;
  background-color: white;
  
  
  list-style:none;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 7px 8px;
  
}


.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;

position: fixed;
top: 0;
padding: 5px 0;
float: right;
  top: var(--hamburger-margin);
right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: rgb(112, 117, 117);
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 1000%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  min-height: 100vh;
  float: right;

}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}


}




@media screen and (max-width: 600px) {


  .logo{
    border: 3px solid white;
    font-size: 30px;
    width: 200px;
    height:60px;
    background-color: rgb(19, 20, 20);
    transition: 1s;
  
  
  
  }
  .logo h2 {
  color: antiquewhite;
  }
}
