/*--The top panel through out the website ---*/

.panel{



    background-color: #dee1e6;
    border-bottom: 1px;
   
    height: 40px;
   
    justify-content: center;
   
    width: 100%;
    margin-top: -8px;


}

.head-background{
   
    background-image: url("../images/bg-intro.jpg");
    background-size: 100%;
   
    border-bottom: 5px solid #abafb6 ;
    height: 200px;
    width: auto;
    margin-top: -100px;
    margin-bottom: 30px;
}
.logo{
border: 3px solid cadetblue;
font-size: 30px;
width: 300px;
background-color: whitesmoke;
margin-left: 60px;

}

.logo span{
color: orange;
}

/*----navigation bar through-out all the pages---*/

nav{
display: flex;
align-items: center ;
justify-content: space-between;
flex-wrap: wrap; 
position: -webkit-sticky;
position: sticky;
top: 0;
padding: 5px 0;
width: 100%;
height: 100px;
margin-top:none;
background-color:rgba(75, 72, 72, 0.37);

border-radius: 20px;

}
nav ul li {
margin-left: 10px;
margin-right: 10px;

display: inline-block;
list-style:none;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 100;
font-style: normal;
padding: 14px 16px;



font-size: 17px;
}

nav ul li a{
color:black;
text-decoration: none;
width: 80px;
background-color: white;


list-style:none;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 100;
font-style: normal;
padding: 14px 16px;




}
nav ul li:hover a {
    color:white;
text-decoration: none;
width: 80px;
background-color:orangered;


list-style:none;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 100;
font-style: normal;
padding: 14px 16px;

}





/*---when the user is in the current page---*/
.active-button {
color:white;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 100;
font-style: normal;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
background-color:orange;
width: 80px;


}




/*---Home page or index.html(style)----*/

/*---Introduction of Me in Home page--*/
.introduction-container{
    border-top:20px solid #abafb6;
    border-bottom:20px solid #abafb6;
background-color:rgb(218, 215, 215);
display:flex;
flex-direction: right;
justify-content: space-evenly;


font-size: 20px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

height:400px;
width: 100%;
padding-bottom: 20px;
padding-top: 20px;
margin-top: 10px;
margin-bottom: 50px;



}
.introduction-container-text {

 height: 300px;
 width: 500px;
 border:none;
 font-size: 30px;


 text-align: center;
margin-top: 50px;

}
 .introduction-container-text{
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count:1;
}


@keyframes slidein {
  from {
    margin-left: 300%;
    width: 40%;
  }

  to {
    margin-left: 0%;
    width: 40%;
  }
}
.introduction-container-text h1 span{
color: rebeccapurple;
}


/*---Css of photo present in Home page---*/
.introduction-container-my-image{
    border:none;
    height:400px;
    width:400px;
    margin-left: 20px;
    margin-right: 20px;
}


.about-container{
display: flex;
flex-direction: right;
background-image: url("../images/moonlanding.jpg");
background-size: 1350px 700px;
margin-bottom: 10px;
margin-top: 40px;
width:100%;
height: 700px;

}
.about-container:hover{
display: flex;
flex-direction: right;
background-image: url("../images/moonlanding.jpg");
background-size: 1350px 700px;
margin-top: 40px;
width:100%;
height: 700px;


}
.about-container-style-display{
  display: flex;
  flex-direction: right;
  width: auto;
}

.about-container-info{
color:rgb(207, 198, 198);

font-size: 25px;
height: 700px;
width:800px;
background-color: rgba(37, 29, 68, 0.479);




}
.about-container-info:hover{
color:rgb(233, 225, 225);
font-size: 25px;
height: 700px;
width: 800px;
background-color: rgb(37, 29, 68);

}
.about-container-info h2{
  text-align: center;
}
.about-container-info-text{
  height:220px;
  width:400px;


}
.about-container-info-text:hover{
 zoom:120%;
 color:rgb(233, 225, 225);
}


.end-container-launchpad{
  
height: 600px;
width:800px;
}





.end-container{
  border-top:5px solid rgb(37, 37, 73);
  border-bottom:5px solid rgb(37, 37, 73);

  background-color:black;
  background-size: 1350px 700px;
  margin-top: 40px;
  width:100%;
  height: 100px;
  color:white;
}
.end-container h2 {
  text-align: center;


}


@media screen and (max-width: 600px) {

.panel{
  background-color: #dee1e6;
  border-bottom: 1px;
  height: 40px;
  justify-content: center;
  width: 100%;
  margin-top: -8px;
  
}

.logo{
  border: 3px solid white;
  font-size: 30px;
  width: 200px;
  background-color: cadetblue;
  transition: 1s;



}


/*---Introduction of Me in Home page--*/
.introduction-container{
  border-top:20px solid #abafb6;
  border-bottom:20px solid #abafb6;
background-color:rgb(218, 215, 215);
display:block;

justify-content: space-evenly;


font-size: 20px;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

height:800px;
width: 100%;
padding-bottom: 20px;
padding-top: 20px;
margin-top: 10px;
margin-bottom: 50px;
transition: 0.5ms;



}
.introduction-container-text {

height: 300px;
width: 500px;
border:none;
font-size: 30px;


text-align: center;
margin-top: 50px;

}


.introduction-container-text{
 animation-duration: 3s;
 animation-name: slidein;
 animation-iteration-count:1;
}


@keyframes slidein {
 from {
   margin-left: 300%;
   width: 40%;
 }

 to {
   margin-left: 0%;
   width: 40%;
 }

}

.about-container{
  display: flex;
  flex-direction: right;
  background-image: url("../images/moonlanding.jpg");
  background-size: 1350px 700px;
  
  margin-top: 40px;
  width:100%;
  height: 800px;
  transition: 1s;
  
  }
  .about-container:hover{
  display: flex;
  flex-direction: right;
  background-image: url("../images/moonlanding.jpg");
  background-size: 1350px 700px;
  margin-top: 40px;
  width:100%;
  height: 800px;
  transition: 1s;
  
  
  }
  .about-container-style-display{
    display: flex;
    flex-direction: right;
    
    width: auto;
  }
  
  .about-container-info{
  color:rgb(207, 198, 198);
  
  font-size: 20px;
  height: 700px;
  width:600px;
  background-color: rgba(37, 29, 68, 0.479);
  margin-bottom: 5px;
  
  
  
  }
  .about-container-info:hover{
  color:rgb(233, 225, 225);
  font-size: 20px;
  height: 700px;
  width:600px;
  background-color: rgb(37, 29, 68);
  margin-bottom: 5px;
  }
  .about-container-info h2{
    text-align: center;
  }
  .about-container-info-text{
    height:220px;
    width:200px;
    margin-right: -5px;
    margin-left: -120px;
  }

  
  .end-container-launchpad{
    height:600px;
    width:380px;
    

  }
  
  
  

@media screen and (max-width: 1350px) {
  .logo{
    border: 3px solid white;
    font-size: 30px;
    width: 200px;
    background-color: cadetblue;
    transition: 2s;
  }

nav{
  display: flex;
  align-items: center ;
  justify-content: space-between;
  flex-wrap: wrap; 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px 0;
  width: 100%;
  height: 100px;
  margin-top:none;
  background-color:rgba(75, 72, 72, 0.37);
  border-radius: 20px;
  transition:1s;
  }

  .nav ul li {

    
    display: inline-block;
    list-style:none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 14px 16px;
    font-size: 17px;
}
nav ul li a{
  color:black;
  text-decoration: none;
  width: 80px;
  background-color: white;
  
  
  list-style:none;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 14px 16px;
  
}
}
}
